@charset "UTF-8";
@use "../utility/variable" as *;

@media only screen and (min-width: 768px) {
}

@media only screen and (max-width: 767px) {
}
/* 共通部分
------------------------------------------------------------*/
.sec__ttl{
    text-align: center;
    .sec__ttl__txt{
        font-size: 32px;
        color: $mainBlueColor;
        font-family: YuMincho,"Hiragino Mincho ProN",serif;
        line-height: 1;
        letter-spacing: .09em;
        
        @media only screen and (max-width: 767px) {
            font-size: 25px;
        }
    }
    .sec__ttl__en{
        font-size: 14px;
        color: $baseColor;
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        display: block;
        margin-bottom: 30px;
        letter-spacing: .08em;
        @media only screen and (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
    .sec__ttl__lead{
        font-size: 16px;
        margin-top: 30px;
        letter-spacing: .08em;
    }
}
.ico__circle{
    position: relative;
    border-radius: 50%;
    display: block;
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        top: 0;
        margin: auto;
        transform: rotate(45deg);
        transition: transform 0.3s;
    }
}

.sec__cta{
    padding: 75px 0;
    background-image:url(../../img/top/bg_cta.jpg);
    background-size: cover;
    letter-spacing: .08em;
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
        padding: 60px 0;
    }
    @media only screen and (max-width: 767px) {
        padding: 40px 20px;
    }
    .cta__sub{
        display: block;
        text-align: center;
        font-size: 23px;
        font-weight: bold;
        color: #ffffff;
        @media only screen and (min-width: 768px) and (max-width: 1050px) {
            font-size: 20px;
        }
        @media only screen and (max-width: 767px) {
            font-size: 16px;
        }
        .dots {
            background-image: radial-gradient(circle at center, #ffffff 20%, transparent 20%); /* 点の色とサイズ調整 */
            background-position: top right; /* 点の位置 */
            background-repeat: repeat-x; /* 横方向に繰り返し */
            background-size: 1em 0.3em; /* 点の間隔とサイズ調整 */
            padding-top: .5em; /* 縦方向の位置調整 */
          }
    }
    .cta__btn{
        max-width: 425px;
        width: 100%;
        height: 98px;
        margin: 15px auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 40px;
        background-color: $mainBlueColor;
        text-align: center;
        letter-spacing: .08em;
        border-radius: 50px;
        align-items: center;
        @media only screen and (min-width: 768px) and (max-width: 1050px) {
            height: 80px;
        }
        @media only screen and (max-width: 767px) {
            height: 65px;
        }
        .cta__btn__txt{
            font-weight: bold;
            margin-left: -30px;
            @media (max-width: 768px){
                font-size: 16px;
                margin-left: -30px;

            }

        }

        .cta__btn__txt{
            color: #ffffff;
            font-size: 26px;
            position: relative;
            @media only screen and (min-width: 768px)  and (max-width: 1050px) {
                font-size: 23px;
            }
            @media (max-width: 768px){
                font-size: 16px;
    
            }
            .cta__btn__circle{
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                right: -50px;
                background-color: #ffffff;
                width: 23px;
                height: 23px;

                @media (max-width: 768px){
                    right: -40px;
                }
                
                &::before{
                    right: 9px;
                    width: 5px;
                    height: 5px;
                    border-top: 2px solid #0c86e1;
                    border-right: 2px solid #0c86e1;
                }
            }
        }
    }
}

.txtBlue{
    color: $mainBlueColor;
    font-weight: 600;
}

.sec__top__mv{
    position: relative;
    height: 565px;
    margin: 0 0 120px auto;
    width: 90%;
    position: relative;
    @media only screen and (max-width: 767px) {
        width: calc(100% - 20px);
        height: 55vh;
        margin: 0 0 80px auto;
    }

    .mv__img {
        height: 100%;
        picture{
            height: 100%;
            width: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .main__inner{
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        @media only screen and (max-width: 767px) {
            top: 68%;
        }
        span{
            display: inline-block;
            background-color: #ffffff;
        }
        .ttl__h1__txt{
            span{
                font-size: 53px;
                padding: 18px 23px;
                color: $mainBlueColor;
                line-height: 1;
                letter-spacing: 0.1em;
                font-family: YuMincho,"Hiragino Mincho ProN",serif;
                @media (min-width: 768px)and (max-width:1099px){
                    font-size: 45px;
                }
                &:nth-child(1){
                    margin-bottom: 10px;
                }
                @media only screen and (max-width: 767px) {
                    font-size: 26px;
                    padding: 10px;
                }
            }
        }
        .ttl__sub__h1__txt{
            margin-top: 38px;
            font-weight: bold;
            margin-left: -25px;

            @media (min-width: 768px)and (max-width: 1050px){
                margin-left: -20px;
                padding: 10px 20px 10px 30px;
            }

            @media only screen and (max-width: 767px) {
                margin-left: -10px;
                margin-top: 10px;

            }
            span{
                color: $strongColor;
                font-size: 20px;
                padding: 10px 20px 10px 40px;
                letter-spacing: 0.02em;
                margin-bottom: 5px;
                letter-spacing: 0.1em;
                @media (min-width: 768px)and (max-width:1050px){
                    font-size: 18px;
                }
                
                
                @media only screen and (max-width: 767px) {
                    font-size: 11px;
                    padding: 5px 10px 5px 15px;
                    letter-spacing: .03em;
                }
            }
        }


    }
}

.sec__thought{
    position: relative;
    &::before{
        position: absolute;
        content: "";
        max-width: 980px;
        width: 90%;
        height: 570px;
        background-color: #ecf2fb;
        left: 0;
        bottom: 260px;
        z-index: -1;
        @media (min-width: 768px)and (max-width: 1050px){
            bottom: 200px;

        }
        @media only screen and (max-width: 767px) {
            height: 500px;
            top: -200px;
        }
    }
    .thought__box{
        max-width: 1200px;
        width: 85%;
        margin: 0 0 0 auto;
        box-sizing: border-box;
        background-color: #ffffff;
        box-shadow: 0 0 20px rgba(195,195,195,.6);
        padding: 30px 30px;
        column-gap: 70px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 80px 0 80px 100px;
        @media only screen and (min-width: 768px) and (max-width: 1050px) {
            width: 90%;
            padding: 60px 0 60px 80px;
            column-gap: 30px;
        }
        @media only screen and (max-width: 767px) {
            width: calc(100% - 20px);
            padding:40px 20px;
        }
        .thought__txt__item {
        @media only screen and (min-width: 768px) and (max-width: 1050px) {
            width: 50%;
            }
            @media (max-width: 767px){
                width: 100%;
    
            }
            .sec__ttl{
                text-align: left;
            }
            .thought__txt{
                padding-top: 35px;
                font-size: 16px;
                line-height: 2.2;
                letter-spacing: .08em;
                @media only screen and (max-width: 767px) {
                    padding-top: 25px;
                    font-size: 14px;
                }
            }
        }

        .thought__img__item{
            @media (min-width: 768px)and (max-width: 1050px){
                width: 50%;
            }
            picture{
                width: 522px;
                display: block;
                @media only screen and (min-width: 767px) and (max-width: 1050px) {
                    width: 100%;
                }
                @media only screen and (max-width: 767px) {
                    width: 100%;
                    margin-top: 30px;
                }
            }
            
        }
    }
}

.sec__news{
    padding: 120px 20px 225px;
    position: relative;
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
        padding: 100px 20px 190px;
    }
    @media only screen and (max-width: 767px) {
        padding: 60px 20px 120px;
    }
    .news__block{
        max-width: 900px;
        width: 100%;
        margin: 50px auto 0;
        @media only screen and (max-width: 767px) {
            margin: 30px auto 0;
        }
        .news__item{
            display: flex;
            justify-content: space-between;
            padding: 30px;
            border-bottom: 1px solid #e8e8e8;
            align-items: center;
            @media only screen and (max-width: 767px) {
                padding: 15px;
            }
            &:nth-child(1){
                border-top: 1px solid #e8e8e8;
            }
            .news__item__left{
                display: flex;
                align-items: center;
                @media only screen and (max-width: 767px) {
                    flex-wrap: wrap;
                    row-gap: 15px;
                }
                .news__item__day{
                    color: $baseColor;
                    letter-spacing: 0.14em;
                    @media only screen and (max-width: 767px) {
                        font-size: 12px;
                    }
                }
                .news__item__cate{
                    color: $baseColor;
                    width: 98px;
                    font-size: 11px;
                    background-color: #1476cb;
                    padding:5px 0;
                    color: #ffffff;
                    text-align: center;
                    border-radius: 20px;
                    margin-left: 50px;
                    @media only screen and (max-width: 767px) {
                        margin-left: 20px;
                    }
                }
                .news__item_ttl{
                    color: $baseColor;
                    margin-left: 50px;
                    letter-spacing: 0.14em;
                    @media only screen and (max-width: 767px) {
                        margin-left: 0;
                        font-size: 15px;
                        width: 100%;
                    }
                }
            }
            .news__item__right{
                .news__item__circle{
                    width: 20px;
                    height: 20px;
                    background-color: $mainBlueColor;
                    &::before{
                        right: 8px;
                        width: 5px;
                        height: 5px;
                        border-top: 2px solid #ffffff;
                        border-right: 2px solid #ffffff;
                    }
                }
            }
        }
    }

    &::after{
        content: "";
        position: absolute;
        bottom: -5px;
        right: 0;
        width: 596px;
        height: 328px;
        background-image:url(../../img/top/ico_news.png);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        @media only screen and (min-width: 768px) and (max-width: 1050px) {
            width: 550px;
            height: 300px;
        }
        @media only screen and (max-width: 767px) {
            width: 300px;
            height: 170px;
            right: 0;
            bottom: -10px;

        }
    }
}
.sec__service01{
    display: flex;
    height: 440px;
    @media only screen and (max-width: 767px) {
        height: 100%;
        flex-direction: column-reverse;
    }
    .sec__service01__left{
        width: 45%;
        background-color: $mainBlueColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 100px;
        @media only screen and (min-width: 768px) and (max-width: 1050px) {
            width: 50%;
            padding: 0 70px;
        }
        @media only screen and (max-width: 767px) {
            width: 100%;
            padding: 30px 20px;
        }
        .sec__ttl{
            .sec__ttl__txt{
                color: #ffffff;
                @media only screen and (max-width: 767px) {

                }
            }
        }
        .sec__news__txt{
            color: #ffffff;
            font-size: 16px;
            line-height: 2.2;
            letter-spacing: .08em;
            padding-top: 35px;
            
            @media only screen and (max-width: 767px) {
                padding-top: 15px;
                font-size: 14px;
            }
        }
    }
    .sec__service01__right{
        width: 55%;
        @media only screen and (min-width: 768px) and (max-width: 1050px) {
            width: 50%;
        }
        @media only screen and (max-width: 767px) {
            width: 100%;
            height: 300px;
        }
    }
    
}
.webp {
    .sec__service01{
        .sec__service01__right {
                    background: url(../../img/top/img_service.webp) no-repeat center center / cover;
            }
    }
}
.no-webp {
    .sec__service01{
		.sec__service01__right {
		    background: url(../../img/top/img_service.jpg) no-repeat center center / cover;
		}
    }
}

.sec__service02{
    padding: 120px 20px;
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
        padding: 80px 20px;
    }
    @media only screen and (max-width: 767px) {
        padding: 60px 20px;
    }
    .service02__block{
        max-width: 1020px;
        width: 100%;
        column-gap: 105px;
        row-gap: 60px;
        margin: 0 auto;
        flex-wrap: wrap;
        display: flex;
        align-items:flex-start;
        justify-content: center;
        @media only screen and (min-width: 768px) and (max-width: 1050px) {
            column-gap: 50px;
        }
        @media (max-width: 768px){
            row-gap: 45px;
        }
        .service02__item{
            text-align: center;
            color: #000000;
            &__number{
                font-size: 16px;
                color: $baseColor;
                display: block;
                font-family: "Cinzel", serif;
                font-optical-sizing: auto;
                letter-spacing: .08em;
                @media (max-width: 767px){
                    font-size: 14px;
                }
            }
            &__img{
                height: 75px;
                margin: 50px 0;
                @media only screen and (min-width: 768px) and (max-width: 1050px) {
                    margin: 40px 0;
                }
                @media only screen and (max-width: 767px) {
                    margin: 20px 0;
                }
            }
            &__ttl{
                font-size: 20px;
                font-weight: bold;
                letter-spacing: .08em;
                line-height: 1;
                @media only screen and (max-width: 1050px) {
                    font-size: 18px;
                }
            }
            &__txt{
                padding-top: 20px;
                font-size: 16px;
                letter-spacing: .08em;
                line-height: 1.8;
                @media only screen and (max-width: 1050px) {
                    font-size: 14px;
                }

            }
        }
    }
}
.sec__support{
    position: relative;
    padding: 120px 0 0;
    @media (max-width: 767px){
        padding: 80px 0 0;
    }
    @media only screen and (max-width: 767px) {
    }
    .inner{
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        @media (max-width: 768px){
        
            text-align: center;
        }
    }
    .sec__ttl{
        text-align: left;
        position: relative;
        display: inline-block;
        position: relative;
        @media only screen and (max-width: 1050px) {
            text-align: center;
            
        }
        .sec__ttl__txt{
            line-height: 1.6;
        }
        &::before{
            position: absolute;
            content: "";
            width: 133px;
            height: 179px;
            top: -10px;
            left: -140px;
            z-index: 2;
            @media only screen and (min-width: 768px) and (max-width: 1050px) {
                left: -30px;
                width: 105px;
                height: 145px;
                top: -40px;
                z-index: -1;
        
            }
            @media only screen and (max-width: 767px) {
                height: 90px;
                width: 123px;
                top: -50px;
                left: -85px;
                top: -30px;

            }
        }
    }
    .support__block{
        background-color: #ecf2fb;
        padding: 60px 0;
        margin:40px 0 0;
        position: relative;
        
        &::after{
            position: absolute;
            content: "";
            width: 600px;
            height: 600px;
            background-repeat: no-repeat;
            right: 0;
            bottom: 100px;
            @media only screen and (min-width:1051px) and (max-width: 1200px)  {
                width: 40vw;
                bottom: 10vh;
            }
            @media only screen and (min-width: 768px) and (max-width: 1050px)  {
                width: 400px;
                height: 400px;
                aspect-ratio: 1 / 1;
                margin: auto;
                top: 0;
                bottom: 0;
            }
            @media only screen and (max-width: 767px) {
                width: 85vw;
                height: 30vh;
                right: 0;
                bottom: -85px;
                top: auto;
            }
    
        }
        @media only screen and (max-width: 767px) {
            padding: 40px 20px 25vh;
            margin: 30px 0 0;
        }
        
        .support__list{
            max-width: 900px;
            margin:0 auto;
            .support__list__item{
                position: relative;
                font-size: 20px;
                box-sizing: border-box;
                letter-spacing: .08em;
                max-width: 430px;
                margin: 0 auto 0 0;
                padding: 25px 20px 25px 55px;
                border-bottom: 1px solid #ffffff;
                @media only screen and (min-width: 768px) and (max-width: 1050px) {
                    font-size: 18px;
                }
                @media only screen and (max-width: 767px) {
                    padding: 20px 20px 20px 40px;
                    font-size: 16px;
                    line-height: 1.4;
                }
                &:nth-child(1){
                    border-top: 1px solid #ffffff;
                }
                &::before{
                    position: absolute;
                    content: "";
                    width: 22px;
                    height: 19px;
                    background-repeat: no-repeat;
                    left: 13px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    background-image: url("../../img/top/ico_support__list__item.svg");
                    @media only screen and (max-width: 767px) {
                        width: 18px;
                        height: 15px;
                    }
                }
            }
        }
    }
    
    

}
.webp  {
    .sec__support {
        
        .sec__ttl{
            padding: 0 20px;
            position: relative;
            @media only screen and (max-width: 1050px) {
                text-align: center;
            }
            &::before{
                background: url(../../img/top/bg_support01.webp) no-repeat no-repeat center center / contain;
            }
		}
        .support__block{

            &::after{
                background: url(../../img/top/bg_support02.webp) no-repeat no-repeat center center / cover;
                @media only screen and (max-width: 767px) {
                    background: url(../../img/top/bg_support02.webp) no-repeat no-repeat top center / cover;
                }
            }
        }
        }
}
.no-webp  {
    .sec__ttl{
		.sec__support {
            &::before{
                background: url(../../img/top/bg_support01.jpg) no-repeat center center / contain;
            }
		}
        &::after{
            background: url(../../img/top/bg_support02.jpg) no-repeat no-repeat center center / contain;
            @media only screen and (max-width: 767px) {
                background: url(../../img/top/bg_support02.jpg) no-repeat no-repeat top center / contain;
            }
        }
    }
}

.sec__feature{
    padding: 120px 20px;
    @media only screen and (max-width: 767px) {
        padding: 150px 20px 60px;
    }
    .inner{
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        margin-top: 60px;
        @media only screen and (max-width: 767px) {
            margin-top: 40px;

        }
        .feature__block{
            display: flex;
            align-items: center;
            margin-bottom: 35px;
            @media only screen and (max-width: 767px) {
                flex-direction: column;
                row-gap: 20px;
            }
            
            &:nth-child(3){
                margin-bottom: 0;
            }
            .feature__block__img{
                height: 260px;
                width: 50%;
                @media only screen and (max-width: 767px) {
                    width: 100%;
                    height: auto;
                }
                img{
                    @media only screen and (max-width: 767px) {
                        width: 100%;
                        aspect-ratio: (2/1);
                        object-fit: cover;
                    }
                }
            }
            .feature__block__txt{
                width: 50%;
                padding: 0 40px;
                box-sizing: border-box;
                text-align: left;
                @media only screen and (max-width: 767px) {
                    width: 100%;
                    padding: 0;
                }
                &__number{
                    padding: 8px 15px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 5px;
                    background-color: $mainBlueColor;
                    @media only screen and (max-width: 767px) {
                        column-gap: 10px;
                    }
                    img{
                        width: 20px;
                    }
                    span{
                        font-size: 14px;
                        color: #ffffff;
                        font-family: "Cinzel", serif;
                        font-optical-sizing: auto;
                        letter-spacing: .1em;
                        @media only screen and (max-width: 767px) {
                            font-size: 12px;
                        }
                    }
                }
                &__ttl{
                    margin-top: 30px;
                    font-size: 20px;
                    line-height: 1;
                    letter-spacing: .08em;
                    font-weight: bold;
                    @media only screen and (max-width: 767px) {
                        font-size: 18px;
                        margin-top: 20px;
                    }
                }
                &__content{
                    margin-top: 15px;
                    line-height: 1.7;
                    letter-spacing: .08em;
                    font-size: 16px;
                    @media only screen and (max-width: 767px) {
                        font-size: 14px;

                    }
                }
            }   
        }
        .feature__block_reverse{
            @media only screen and (max-width: 767px) {
                flex-direction: column-reverse;
            }
        }
    }
}
.sec__process{
    padding: 120px 20px;
    background-color: #ecf2fb;
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
        padding: 100px 20px;
    }
    @media only screen and (max-width: 767px) {
        padding: 60px 20px;
    }
    .process__block{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        margin-top: 65px;
        @media only screen and (min-width: 768px) and (max-width: 1050px) {
            flex-wrap: wrap;
            row-gap: 50px;
            column-gap: 5%;
        }
        @media only screen and (max-width: 767px) {
            flex-wrap: wrap;
            flex-direction: column;
            row-gap: 50px;
            margin-top: 45px;
        }
        &__item{
            position: relative;
            display: flex;
            row-gap: 35px;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            width: 196px;
            height: 213px;
            background-color: #ffffff;
            padding-bottom: 30px;
            @media only screen and (min-width: 768px) and (max-width: 1050px) {
                width: 30%;
                padding-bottom: 30px;
                row-gap: 0;
            }
            @media only screen and (max-width: 767px) {
                width: 75%;
                height: auto;
                padding: 40px 0 30px;
                row-gap: 25px;
            }
            
            &::after{
                content: "";
                position: absolute;
                right: -13px;
                top: 0;
                bottom: 0;
                width: 0;
                height: 0;
                margin: auto;
                border-style: solid;
                border-top: 13px solid transparent;
                border-bottom: 13px solid transparent;
                border-left: 13px solid #ffffff;
                border-right: 0;  
                @media only screen and (max-width: 767px) {
                    right: 0;
                    left: 0;
                    bottom: -30px;
                    top: auto;
                    transform: rotate(90deg);
                    border-top: 25px solid transparent;
                    border-bottom: 25px solid transparent;
                    border-left: 20px solid #fff;
                }
            }
            
            &:nth-child(5){
                &::after{
                    content: none;
                }
            }
            &__number{
                font-size: 24px;
                letter-spacing: .08em;
                font-family: "Cinzel", serif;
                font-optical-sizing: auto;
                position: absolute;
                top: -10px;
                text-align: center;
            }
            &__icon{
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                @media only screen and (max-width: 767px) {
                    position: initial;
                }
            }
            &__ttl{
                font-size: 16px;
                line-height: 1.6;
                letter-spacing: .01em;
                text-align: center;
            }
            
            &:nth-child(1){
                .process__block__item__icon{
                    width: 55px;
                    top: 53px;
                }
            }
            &:nth-child(2){
                .process__block__item__icon{
                    width: 55px;
                    top: 50px;
                }
            }
            &:nth-child(3){
                .process__block__item__icon{
                    width: 70px;
                    top: 60px;
                }
                @media only screen and (min-width: 768px) and (max-width: 1050px) {
                    &::after{
                        content: none;
                    }
        
                }
            }
            &:nth-child(4){
                .process__block__item__icon{
                    width: 40px;
                    top: 50px;
                }
            }
            &:nth-child(5){
                .process__block__item__icon{
                    width: 60px;
                    top: 55px;
                }
            }
        }
    }
}

.sec__faq{
    padding: 120px 20px;
    @media only screen and (max-width: 767px) {
        padding: 60px 20px;
    }
    .inner{
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        .faq__tabs {
            display: flex;
            flex-wrap: wrap;
            margin-top: 60px;
            @media only screen and (max-width: 767px) {
                flex-direction: column;
                row-gap: 20px;
                margin-top: 30px;
            }
            .tab_label {
              color: #000000;
              font-size: 18px;
              text-align: center;
              font-weight: bold;
              border-bottom: solid 3px #e8e8e8;
              z-index: 1;
              cursor: pointer;
              flex: 1;
              padding: 0 0 20px;
              @media only screen and (max-width: 767px) {
                font-size: 16px;
            }
            }
            .tab_label02{
                margin: 0 15px;
              @media only screen and (max-width: 767px) {
                margin: 0;
              }
            }
            .tab_label:hover {
              opacity: 0.75;
            }
            .tab_content {
              flex: 100%;
              display: none;
              overflow: hidden;
              margin-top: 50px;
              @media only screen and (max-width: 767px) {
                margin-top: 30px;
            }
              .accordion__item{
                margin-bottom: 20px;
                .accordion__item__txt{
                    display: flex;
                    align-items: center;
                    column-gap: 20px;
                    @media only screen and (max-width: 768px) {
                        width: 85%;
                        column-gap: 10px;
                    }
                }
                .accordion__itemQ{
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    background-color: #ecf2fb;
                    column-gap: 15px;
                    padding: 20px 50px;
                    border-radius: 20px;
                    letter-spacing: .08em;
                    @media only screen and (max-width: 767px) {
                        padding: 15px 20px 15px 20px;
                    }
                    
                    .q_icon{
                        font-size: 32px;
                        color: $mainBlueColor;
                        font-family: Futura;
                        @media only screen and (max-width: 767px) {
                            font-size: 28px;
                        }
                    }
                }
                .accordion__item__txt__icon{
                    width: 15px;
                    height: 15px;
                    border-top: 2px solid #0c86e1;
                    border-right: 2px solid #0c86e1;
                    transition: all .6s;
                    transform: rotate(135deg);
                    @media only screen and (max-width: 767px)  {
                        width: 10px;
                        height: 10px;
            
                    }
                }
                .open{
                    &::before{
                        -webkit-transform: translateY(-50%) rotate(-135deg);
                        transform: translateY(-50%) rotate(-135deg);
                        top: 43px;

                    }
                .accordion__item__txt__icon{
                    transform: rotate(-45deg);
                }
                }
                .q_txt{
                    font-size: 18px;
                    font-weight: bold;
                    @media only screen and (max-width: 767px) {
                        font-size: 16px;

                    }
                }
                .accordion__content{
                    padding: 20px 50px 0;
                    @media (max-width: 768px){
                        padding: 15px 20px 0;
                    }
                    .accordion__content__inner{
                        display: flex;
                        column-gap: 15px;
                        @media (max-width: 767px){
                            column-gap: 10px;

                        }

                        .a__icon{
                        font-size: 32px;
                        color: #000000;
                        font-family: Futura;
                        @media (max-width: 767px){
                            font-size: 28px;

                        }
                        }
                        .a_txt{
                            font-size: 16px;
                            letter-spacing: .08em;
                        }
                    
                    }
                }
              }
            }
            
            input[name="tab_switch"] {
              display: none;
            }

            input:checked + .tab_label {
              border-bottom: solid 3px $mainBlueColor;
              
            }

            
          }
          
          
          
          #tab01:checked ~ #tab01_content,
          #tab02:checked ~ #tab02_content,
          #tab03:checked ~ #tab03_content {
            display: block;
          }
          
          .tab_content{
            position: relative;
            animation: fadeIn 1s ease;
          }
    
          .accordion-item-q {
            align-items: center;
            justify-content: flex-start;
            border-bottom: 1px solid #DBDBDB;
            padding: 15px 15px;
            gap: 15px;
            flex-wrap: nowrap;
            cursor: pointer;
            position: relative;
        }
        .accordion-content {
            display: none;
            border-bottom: 1px solid #DBDBDB;
            padding: 15px 15px;
            background-color: #E7F3EB;
        }
    }
}

.sec__pageNav{
    display: flex;
    @media only screen and (max-width: 767px) {
        flex-direction: column;
    }
    &__item{
        aspect-ratio: 50 / 20;
        width: calc(100% / 3);
        cursor: pointer;
        overflow: hidden;
        position: relative;
        @media only screen and (max-width: 767px) {
        width: 100%;
        aspect-ratio: 3 / 1;
        }
        img{
            height: auto;
            width: 100%;
            transition: transform .6s ease;
        }
        &:hover{
            img{
                transform: scale(1.1);
                opacity: 1
                ;
            }
        }
        span{
            align-items: center; 
            bottom: 0;
            color: #fff; 
            display: flex; 
            justify-content: center; 
            color: #ffffff;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: .1em;
        }
        .ico__circle{
            &::before{
                right: 20px;
                width: 8px;
                height: 8px;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
            }
        }
    }
}

